
.sidebar {
  width: 240px;
  height: auto;
  float: left;
  border-radius: 5px;
}

.current-user-status {
  padding: 26px 0 0px 0;
  background-image: url(http://www.clipartbest.com/cliparts/niB/nBg/niBnBg6iA.png);
  background-size: cover;
  background-position: 0 0;
  text-align: center;
}

.todo-list {
  overflow: hidden;
  text-align: center;
}

.todo-list > li:first-child {
  padding: 9px 0 5px 0;
  background-image: url(http://www.clipartbest.com/cliparts/niB/nBg/niBnBg6iA.png);
  background-size: cover;
  overflow: hidden;
  background-position: 0 60px;
}

.todo-list > li {
  padding: 9px 0 5px 0;
  background-image: url(http://www.clipartbest.com/cliparts/niB/nBg/niBnBg6iA.png);
  background-size: cover;
  overflow: hidden;
  background-position: 0 61px;
}

.todo-list > li:last-child {
  padding: 7px 0 9px 0;
  background-image: url(http://www.clipartbest.com/cliparts/niB/nBg/niBnBg6iA.png);
  background-size: cover;
  overflow: hidden;
  background-position: 0 31px;
}

.to-dos {
  padding: 7px 0 2px 0;
  text-align: center;
  font-weight: bold;
}

.active {
  color: #F87217;
  font-weight: bold;
  text-decoration: underline;
}

.completed {
  text-decoration: line-through;
}

.todo-list > li > div:hover {
  display: inline-block;
	position: relative;
}

.todo-list > li > div:hover::after {
  content: '';
	display: block;
	position: absolute;
	right: 100%;
	top: 50%;
	margin-top: -10px;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #6599FF;
}

.username {
  font-weight: bold;
  height: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 76%;
  margin: auto;
  overflow: hidden;
}
