.timer {
  margin: 10px;
  font-size: 40px;
  transition-duration: 0.5s;
}

.paused {
  color: red;
}

.playing {
  color: green;
}

.break-alert {
  font-size: 100px;
  background: pink;
}

.break-alert-2 {
  font-size: 100px;
  background: green;
}
