.todo-form {
  margin: 10px;
  text-align: center;
}

.todo-fields {
  width: 24%;
  margin: auto;
}

.todo-fields > li {
  float: right;
}

.todo-fields > li:last-child {
  float: none;
  margin: auto;
}
