
.view {
  display: block;
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 25px;
  background: white;
  border-radius: 5px;
  overflow: hidden;
}

.sidebar {
  background: rgb(0, 124, 0);
  width: 20%;
  height: 100%;
  float: left;
  border-radius: 5px;
}

.main {
  background: #DF3232;
  width: 78%;
  height: 100%;
  float: right;
  margin: auto;
  text-align: center;
  border-radius: 5px;
}

.todo-detail-view, .stuff-in-sidebar {
  margin: 10px;
}

.todo-list {
  border-bottom: 1px solid black;
  overflow: hidden;
  text-align: center;
}

.todo-list > li {
  border-top: 1px solid black;
}

.active {
  font-weight: bold;
}

.todo-list > li:hover {
  background: #6599FF;
}

button {
  margin: 5px;
}
