
.website-name {
  font-size: 50px;
  font-weight: bold;
}

.toma {
  color: red;
  float: left;
}

.to {
  float: left;
  color: green;
}

.do {
  float: left;
  color: black;
}

.view {
  font-family: monospace;
  display: block;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  overflow: hidden;
  background: url("https://a.pragprog.com/magazines/2009-11/images/pomodoro-artifacts__oc5h9a__.jpg") no-repeat center center fixed;
  /*background: url("/assets/images/pomodoro2.jpg") no-repeat center center fixed;*/
  background-size: cover;
}

.sidebar-main {
  margin: auto;
  margin-top: 3%;
  width: 90%;
  border-radius: 5px;
}

.main {
  background: rgba(223, 50, 50, .7);
  width: 78%;
  height: 100%;
  float: right;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  word-wrap: break-word;
}

.hand-drawn {
  margin-top: 5px;
  display: inline-block;
  width: 70%;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 16px;
  line-height: 24px;
  background: hsla(67, 95%, 95%, 1);
  border: solid 5px hsla(0, 95%, 35%, 1);
}

.todo-detail-view {
  margin: 10px;
}

.errors {

}

button {
  margin: 5px;
}

button:hover {
  cursor: pointer;
}
